In [1]:
#Data
import pandas as pd

#Numbers and Math
import numpy as np 
import scipy.stats as stats
import statsmodels.api as sm

#Machine Learning
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, median_absolute_error

#Graphing
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from env import user, password, host, properties_csv, train_csv

In [3]:
df = pd.read_csv(properties_csv)
full_df = df.copy()

/usr/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
cols = list(df.columns)
rows = df.shape[0]

In [5]:
NaN_percent_in_cols = {} 
df.shape[0]

2985217

In [6]:
def percent_NaNs(df):
    cols = list(df.columns)
    Nans = {}
    for col in cols:
        Nans[col] = 'Missing {:0.2f}%'.format(df[col].isnull().sum()/df.shape[0]*100)
        
    return Nans

In [71]:
def precent_zeros(df):
    cols = list(df.columns)
    zeros = {}
    for col in cols:
        Nans[col] = 'Zeros: {:.2f}%'.format((df[col] == 0).sum()/df.shape[0] * 100)

In [7]:
percent_NaNs(df)

{'parcelid': 'Missing 0.00%',
 'airconditioningtypeid': 'Missing 72.82%',
 'architecturalstyletypeid': 'Missing 99.80%',
 'basementsqft': 'Missing 99.95%',
 'bathroomcnt': 'Missing 0.38%',
 'bedroomcnt': 'Missing 0.38%',
 'buildingclasstypeid': 'Missing 99.58%',
 'buildingqualitytypeid': 'Missing 35.06%',
 'calculatedbathnbr': 'Missing 4.32%',
 'decktypeid': 'Missing 99.43%',
 'finishedfloor1squarefeet': 'Missing 93.21%',
 'calculatedfinishedsquarefeet': 'Missing 1.86%',
 'finishedsquarefeet12': 'Missing 9.25%',
 'finishedsquarefeet13': 'Missing 99.74%',
 'finishedsquarefeet15': 'Missing 93.61%',
 'finishedsquarefeet50': 'Missing 93.21%',
 'finishedsquarefeet6': 'Missing 99.26%',
 'fips': 'Missing 0.38%',
 'fireplacecnt': 'Missing 89.53%',
 'fullbathcnt': 'Missing 4.32%',
 'garagecarcnt': 'Missing 70.41%',
 'garagetotalsqft': 'Missing 70.41%',
 'hashottuborspa': 'Missing 97.69%',
 'heatingorsystemtypeid': 'Missing 39.49%',
 'latitude': 'Missing 0.38%',
 'longitude': 'Missing 0.38%',
 'lotsizesquarefeet': 'Missing 9.25%',
 'poolcnt': 'Missing 82.66%',
 'poolsizesum': 'Missing 99.06%',
 'pooltypeid10': 'Missing 98.76%',
 'pooltypeid2': 'Missing 98.93%',
 'pooltypeid7': 'Missing 83.74%',
 'propertycountylandusecode': 'Missing 0.41%',
 'propertylandusetypeid': 'Missing 0.38%',
 'propertyzoningdesc': 'Missing 33.72%',
 'rawcensustractandblock': 'Missing 0.38%',
 'regionidcity': 'Missing 2.11%',
 'regionidcounty': 'Missing 0.38%',
 'regionidneighborhood': 'Missing 61.26%',
 'regionidzip': 'Missing 0.47%',
 'roomcnt': 'Missing 0.38%',
 'storytypeid': 'Missing 99.95%',
 'threequarterbathnbr': 'Missing 89.56%',
 'typeconstructiontypeid': 'Missing 99.77%',
 'unitcnt': 'Missing 33.76%',
 'yardbuildingsqft17': 'Missing 97.31%',
 'yardbuildingsqft26': 'Missing 99.91%',
 'yearbuilt': 'Missing 2.01%',
 'numberofstories': 'Missing 77.15%',
 'fireplaceflag': 'Missing 99.83%',
 'structuretaxvaluedollarcnt': 'Missing 1.84%',
 'taxvaluedollarcnt': 'Missing 1.43%',
 'assessmentyear': 'Missing 0.38%',
 'landtaxvaluedollarcnt': 'Missing 2.27%',
 'taxamount': 'Missing 1.05%',
 'taxdelinquencyflag': 'Missing 98.11%',
 'taxdelinquencyyear': 'Missing 98.11%',
 'censustractandblock': 'Missing 2.52%'}

In [8]:
houses_df = df[['parcelid','bathroomcnt','calculatedfinishedsquarefeet','fullbathcnt','garagecarcnt','roomcnt','yearbuilt','taxvaluedollarcnt','taxamount', 'poolcnt','unitcnt']]

In [9]:
percent_NaNs(houses_df)

{'parcelid': 'Missing 0.00%',
 'bathroomcnt': 'Missing 0.38%',
 'calculatedfinishedsquarefeet': 'Missing 1.86%',
 'fullbathcnt': 'Missing 4.32%',
 'garagecarcnt': 'Missing 70.41%',
 'roomcnt': 'Missing 0.38%',
 'yearbuilt': 'Missing 2.01%',
 'taxvaluedollarcnt': 'Missing 1.43%',
 'taxamount': 'Missing 1.05%',
 'poolcnt': 'Missing 82.66%',
 'unitcnt': 'Missing 33.76%'}

In [10]:
train_df = pd.read_csv(train_csv)

In [11]:
train_df.sample(5)

       parcelid  logerror transactiondate
5224   14707927    0.0459      2016-01-26
82056  12520184   -0.0182      2016-10-03
48582  14225036   -0.0192      2016-06-23
35210  10858321   -0.0555      2016-05-13
46802  13836691   -0.0101      2016-06-17

In [12]:
houses_df.sample(5)

,parcelid,bathroomcnt,calculatedfinishedsquarefeet,fullbathcnt,garagecarcnt,roomcnt,yearbuilt,taxvaluedollarcnt,taxamount,poolcnt,unitcnt
1305763,14205833,3.0,4249.0,3.0,3.0,8.0,1976.0,1027063.0,11120.62,1.0,NaN
2963239,11604406,3.0,2712.0,3.0,NaN,0.0,1951.0,412335.0,5361.18,NaN,2.0
2055568,11280597,2.0,2316.0,2.0,NaN,0.0,1974.0,189800.0,3065.61,NaN,1.0
1558144,14093773,2.0,1218.0,2.0,1.0,7.0,1955.0,345015.0,4414.70,NaN,NaN
1554467,12477917,3.0,2000.0,3.0,NaN,0.0,1965.0,535737.0,6421.86,1.0,1.0

In [15]:
joint_df = pd.merge(houses_df, train_df, on='parcelid', how='inner')

In [16]:
list(joint_df.columns)

['parcelid',
 'bathroomcnt',
 'calculatedfinishedsquarefeet',
 'fullbathcnt',
 'garagecarcnt',
 'roomcnt',
 'yearbuilt',
 'taxvaluedollarcnt',
 'taxamount',
 'poolcnt',
 'unitcnt',
 'logerror',
 'transactiondate']

In [19]:
percent_NaNs(joint_df)

{'parcelid': 'Missing 0.00%',
 'bathroomcnt': 'Missing 0.00%',
 'calculatedfinishedsquarefeet': 'Missing 0.73%',
 'fullbathcnt': 'Missing 1.31%',
 'garagecarcnt': 'Missing 66.84%',
 'roomcnt': 'Missing 0.00%',
 'yearbuilt': 'Missing 0.84%',
 'taxvaluedollarcnt': 'Missing 0.00%',
 'taxamount': 'Missing 0.01%',
 'poolcnt': 'Missing 80.17%',
 'unitcnt': 'Missing 35.36%',
 'logerror': 'Missing 0.00%',
 'transactiondate': 'Missing 0.00%'}

In [25]:
jdf = joint_df.copy()

In [50]:
jdf['garagecarcnt'] = jdf['garagecarcnt'].replace(np.nan,0)
jdf['poolcnt'] = jdf['poolcnt'].replace(np.nan,0)
jdf['unitcnt'] = jdf['unitcnt'].replace(np.nan,1)
jdf['taxamount'] = jdf['taxamount'].replace(np.nan,0)
jdf['yearbuilt'] = jdf['yearbuilt'].replace(np.nan,jdf['yearbuilt'].mean())

In [51]:
percent_NaNs(jdf)

{'parcelid': 'Missing 0.00%',
 'bathroomcnt': 'Missing 0.00%',
 'calculatedfinishedsquarefeet': 'Missing 0.73%',
 'fullbathcnt': 'Missing 1.31%',
 'garagecarcnt': 'Missing 0.00%',
 'roomcnt': 'Missing 0.00%',
 'yearbuilt': 'Missing 0.00%',
 'taxvaluedollarcnt': 'Missing 0.00%',
 'taxamount': 'Missing 0.00%',
 'poolcnt': 'Missing 0.00%',
 'unitcnt': 'Missing 0.00%',
 'logerror': 'Missing 0.00%',
 'transactiondate': 'Missing 0.00%'}

In [49]:
jdf['yearbuilt'].mean()

1968.5328701169585

In [68]:
percent_NaNs(jdf)

{'parcelid': 'Missing 0.00%',
 'bathroomcnt': 'Missing 0.00%',
 'calculatedfinishedsquarefeet': 'Missing 0.73%',
 'fullbathcnt': 'Missing 1.31%',
 'garagecarcnt': 'Missing 0.00%',
 'roomcnt': 'Missing 0.00%',
 'yearbuilt': 'Missing 0.00%',
 'taxvaluedollarcnt': 'Missing 0.00%',
 'taxamount': 'Missing 0.00%',
 'poolcnt': 'Missing 0.00%',
 'unitcnt': 'Missing 0.00%',
 'logerror': 'Missing 0.00%',
 'transactiondate': 'Missing 0.00%'}

In [72]:
precent_zeros(jdf)

ValueError: Invalid format specifier